#trackList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    background-color: #212121;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
    #card:hover{
        z-index: 1000;
        transform: scale(1.05);
        height: auto;   

    }
    .more{
        display: none;
    }
    .card:hover .more{
        display: inline;
    }
    .row{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }